@import '../../sassStyles/variables';

.item-todo {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 14px 12px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  border-radius: 4px;
  box-shadow: 0px 0px 3px #00000014;

  input {
    cursor: pointer;
  }

  &__text {
    width: 100%;

    &_checked {
      text-decoration: line-through;
      color: $textLightColor;
    }
  }
}
