@import '../../../sassStyles/_variables.scss';

.primary-btn {
  padding: 10px 12px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #fff;
  border: none;
  border-radius: 4px;
  background-color: $primary1Color;
  cursor: pointer;

  &:active {
    background-color: $primary2Color;
  }
}
