@import '../../sassStyles/variables';

.sidebar {
  grid-area: sidebar;
  padding: 27px 0;
  background-color: $primary1Color;
}

.link {
  display: block;
  padding: 6px 0;
  font-size: 0;
  line-height: 0;
  text-align: center;
}

.item.active {
  background-color: $primary2Color;
}
