@import '../../../sassStyles/variables';

.input-todo {
  width: 100%;
  padding: 9px 12px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  border: 1px solid #ececec;
  border-radius: 4px;

  &::placeholder {
    color: #cacaca;
  }

  &:focus {
    outline: none;
  }
}
